
*.gbss
testsave
*.gb
GameboyEmulator - Shortcut.lnk
sdlaudio.raw
sdlaudio.raw
Debug/cpu.obj
Debug/GameboyEmulator.Build.CppClean.log
Debug/GameboyEmulator.log
Debug/GameboyEmulator.tlog/CL.command.1.tlog
Debug/GameboyEmulator.tlog/CL.read.1.tlog
Debug/GameboyEmulator.tlog/CL.write.1.tlog
Debug/GameboyEmulator.tlog/GameboyEmulator.lastbuildstate
Debug/GameboyEmulator.tlog/link.command.1.tlog
Debug/GameboyEmulator.tlog/link.delete.1.tlog
Debug/GameboyEmulator.tlog/link.read.1.tlog
Debug/GameboyEmulator.tlog/link.write.1.tlog
Debug/GameboyEmulator.vcxproj.FileListAbsolute.txt
Debug/main.obj
Debug/mmu.obj
Debug/ppu.obj
Debug/spu.obj
Debug/vc142.idb
Debug/vc142.pdb
Release/cpu.obj
Release/GameboyEmulator.Build.CppClean.log
Release/GameboyEmulator.log
Release/GameboyEmulator.tlog/CL.command.1.tlog
Release/GameboyEmulator.tlog/CL.read.1.tlog
Release/GameboyEmulator.tlog/CL.write.1.tlog
Release/GameboyEmulator.tlog/GameboyEmulator.lastbuildstate
Release/GameboyEmulator.tlog/GameboyEmulator.write.1u.tlog
Release/GameboyEmulator.tlog/link.command.1.tlog
Release/GameboyEmulator.tlog/link.delete.1.tlog
Release/GameboyEmulator.tlog/link.read.1.tlog
Release/GameboyEmulator.tlog/link.write.1.tlog
Release/GameboyEmulator.vcxproj.FileListAbsolute.txt
Release/main.obj
Release/mmu.obj
Release/ppu.obj
Release/spu.obj
Release/vc142.pdb
q00.gb_/
